<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="../css/styleCr.css">
</head>
<body>
    <section class="productos">
        <div class="cabeza">
        <h1>Carrito</h1>
        <a href="../index.html">Volver</a>            
        </div>
        <div class="todo">
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/pantalones/pantalon1.png">
                </div>
                <div class="descrip">
                    <div><p>Pantalon En Dril Unisex 'Cafe'.</p></div>
                    <div><p>Cantidad <br><button>2</button></p></div>
                    <div><p>Precio <br> $58.900</p></div>
                    <div><p>Subtotal <br> $ 117.800</p></div>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/abrigos/abrigo2.png">
                </div>
                <div class="descrip">
                    <div><p>Buzo estilo de oso coreano 'Cafe claro'</p></div>
                    <div><p>Cantidad <br><button>2</button></p></div>
                    <div><p>Precio <br> $93900</p></div>
                    <div><p>Subtotal <br> $ 187.800</p></div>
                </div>
            </div>
            <div class="producto">
                <div class="ropa">
                    <img src="../storage/img/camisetas/camiseta3.png">
                </div>
                <div class="descrip">
                    <div><p>Camiseta estilo basico 'Negra y Blanco'</p></div>
                    <div><p>Cantidad <br><button>1</button></div>
                    <div><p>Precio <br> $29.900</p></div>
                    <div><p>Subtotal <br> $ 29.900</p></div>
                </div>
            </div>
            <div class="footer">
                <div class="f2">
                    <p>Total <br>$335.500</p>
                    <button>Comprar Ahora</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>